@page "/ModalComponent"

<h3>Modal Component</h3>
@inject IModalService modal

<button @onclick="@(() => modal.Show<FetchData>("Just demo"))" class="btn btn-danger"> Open Demo Modal </button>

@code {

}
